html{
  font-family: 'Roboto', sans-serif;
}

.root {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: #F4F6F8;
}
.wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-top: 32px;
}
.contentContainer {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}
.content {
  flex: 1 1 auto;
  height: 100%;
 
}

@media (min-width: 1280px) {
  .wrapper {
    padding-left: 256px;
  }
}
